<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login </title>
  <link rel="stylesheet" href="css/login.css">


</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"> -->

</head>
<body>
	<div class="main">  	
		<!-- <div class="login100-pic js-tilt" data-tilt>
			<img src="images/a.png" alt="IMG"> -->
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">STYLE MART</label>
					<!-- <input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Sign up</button> -->
				</form>
			</div>

			<div class="login">
				<form>

					

					<label for="chk" aria-hidden="true">Login</label>

                  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="fa-solid fa-user"></span>
						</span>
					</div>
                  

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" ></i>
						</span>
					</div>

					<!-- <input type="email" name="email" placeholder="Email" required=""> -->
					<!-- <input type="password" name="pswd" placeholder="Password" required=""> -->
					<!-- <button>Login</button> -->
                    
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>


				</form>
			</div>
	</div>
</body>
</html>
<!-- partial -->
<!-- <script src="vendor/tilt/tilt.jquery.min.js"></script>
<script >
	$('.js-tilt').tilt({
		scale: 1.1
	})
</script> -->
</body>
</html>
